<p>
  <input type="checkbox" id="options-enablertc" <%= checked %>></input>
  <label for="options-enablertc" data-l10n-id="pad.settings.enablertc">Enable Audio/Video Chat</label>
</p>
<p>
  <input type="checkbox" id="options-audiodefaultmuted" <%= checked %>></input>
  <label for="options-audiodefaultmuted" data-l10n-id="pad.settings.audiodefaultmuted">Mute by Default</label>
</p>
