<p>
  <input type="checkbox" id="options-enablertc" <%= enabled %>></input>
  <label for="options-enablertc" data-l10n-id="pad.settings.enablertc">Enable Audio/Video Chat</label>
</p>
<% if (audio_enabled) { %>
  <p>
    <input type="checkbox" id="options-audiodefaulton" ></input>
    <label for="options-audiodefaulton" data-l10n-id="pad.settings.audiodefaulton">Audio On At Start</label>
  </p>
<% } %>
<% if (video_enabled) { %>
  <p>
    <input type="checkbox" id="options-videodefaulton" ></input>
    <label for="options-videodefaulton" data-l10n-id="pad.settings.videodefaulton">Video On At Start</label>
  </p>
<% } %>
