<div id="rtcbox"></div>
<style>
  #rtcbox {
    display: none;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    height: auto;
    border-left: 1px solid #ccc;
  }
</style>